{% extends 'index/base.html' %} 

{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Nuestro Sitio Web</title>
</head>
<body>
    
    <h1>Bienvenido a Nuestro Sitio Web</h1>
    <p>¿Listo para empezar? ¡Regístrate ahora!</p>
    <a href="{% url 'register' %}"><button>Registrarse</button></a>
    <a href="{% url 'login' %}"><button>Iniciar sesión</button></a>  <!-- Agregar botón para ir a la página de inicio de sesión -->
</body>
</html>


{% endblock %} 