{% extends 'index/base.html' %}

{% load static %}  <!-- Cargar el tag static -->

{% block title %} {{ title }} {% endblock %}

{% block header_title %} {{ subtitle }} {% endblock %}

{% block content %}
<div class="row">
    <form method="GET" action="">
        <label for="category">Categoría:</label>
        <select name="category" id="category">
            <option value="">Todas</option>
            <option value="OW">OW</option>
            <option value="race">race</option>
            <option value="BR">BR</option>
            <option value="5v5">5v5</option>
        </select>
        <button type="submit">Buscar</button>
    </form>
</div>
<div class="row">
    {% for videogame in videogames %}
    <div class="col-md-4 col-lg-3 mb-2">
        <div class="card">
            <div class="card-body text-center">
                <a href="{% url 'show' customuser_id=customuser.id videogame_id=videogame.id %}" class="btn bg-primary text-white">{{ videogame.title }}</a>
                {% if videogame.cover_image %}
                <img src="{{ videogame.cover_image.url }}" alt="{{ videogame.title }}" class="img-fluid mt-2">
                {% else %}
                <img src="{% static 'img/default_cover.jpg' %}" alt="Default cover" class="img-fluid mt-2">
                {% endif %}
                
                <!-- Formulario para agregar al carrito -->
                <form action="{% url 'add_to_cart' videogame.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Agregar al carrito</button>
                </form>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
