{% extends 'index/base.html' %} 

{% block content %} 

<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User register</title>
</head>
<body>
    <h2>User register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <!-- Agregar botón para ir a la página de inicio de sesión -->
    <a href="{% url 'login' %}"><button>Login</button></a>
</body>
</html>

{% endblock %} 