{% extends 'index/base.html' %}

{% load static %}

{% block title %}User Register{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>

<div class="register-container">
    <div class="image-container">
        <img src="{% static 'mccree.jpg' %}" alt="Register Image" class="register-image">
    </div>
    <div class="form-container">
        <h2>User register</h2>
        <form method="post" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="register-button">Register</button>
        </form>
        <!-- Agregar botón para ir a la página de inicio de sesión -->
        <span>Do you already have an account?</span>
        <a href="{% url 'login' %}" title="Login">
            Go to Log In
        </a>
    </div>
    
</div>
{% endblock %}
