{% extends 'index/base.html' %}

{% load static %}

{% block title %}User Register{% endblock %}

{% block content %}
<div class="register-container">
    <div class="form-container">
        <h2>User register</h2>
        <form method="post" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="register-button">Register</button>
        </form>
        <!-- Agregar botón para ir a la página de inicio de sesión -->
        <a href="{% url 'login' %}"><button type="button" class="login-button">Login</button></a>
    </div>
    <div class="image-container">
        <img src="{% static 'mccree.jpg' %}" alt="Register Image" class="register-image">
    </div>
</div>
{% endblock %}
