{% extends 'index/base.html' %} 

{% block title %} {{title}} {% endblock %} 

{% block header_title %} {{subtitle}} {% endblock %} 


{% block content %} 

<div class="card mb-3"> 

  <div class="row g-0"> 


    <div class="col-md-8"> 

      <div class="card-body"> 

        <h5 class="card-title"> 
                {{ videogame.title }}
        </h5> 
        <p class="card-text">Videogame Id: {{videogame.id}}</p>
        <p class="card-text">Developer: {{videogame.dev}}</p>
        <p class="card-text">Stock: {{videogame.stock}}</p>
        <p class="card-text">Category: {{videogame.category}}</p>
        <p class="card-text">Price: {{videogame.price}}</p>
        <p class="card-text">Rating: {{videogame.rating}}</p>

        <a href="{% url 'index' 1 %}" class="btn btn-primary">Continue exploring</a>

        <form action="{% url 'add_to_cart' videogame.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Add to cart</button>
      </form>

      </div> 

    </div> 

  </div> 

</div> 

{% endblock %} 